.main-toolbar {
    -fx-padding: 0;
    -fx-min-height: 41;
    -fx-pref-height: 41;
    -fx-max-height: 41;
}

.toolbar-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-min-width: 30;
    -fx-pref-width: 30;
    -fx-max-width: 30;

    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-font-size: 10;
}

.toolbar-btn:hover {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

.toolbar-btn:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.toolbar-btn.active {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
}
